nav {
    background-color: white;
}

.linkIcon {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: rgb(235, 233, 241);
}

.searchBar {
    background-color: rgb(239, 238, 255);
    border-radius: 20px;
    border: 0px;
}

.searchBar:hover {
    background-color: rgb(226, 224, 252);
}

.nav-item:hover {
    background-color: rgb(217, 218, 224);
}

.profileLink:hover {
    background-color: rgb(240, 240, 247);
}